@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html,
body,
.content {
  height: 100%;
  width: 100%;
  font-family: "Public Sans", sans-serif;
}

.content {
  max-width: 1200px;
  margin: 0 auto;
}

.app {
  display: flex;
  position: 'relative';
  background-color: #201f30;
}

/* track */
::-webkit-scrollbar-track {
  background: #e0e0e0;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-track:hover {
  background: #555;
}